h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Use the bold variant of the font */
}
body {
    background-image: url(../Home_page/Traditional-nepalese-clothing.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    color: white; 
    padding: 20px;
}
.custom-link {
    color: palegreen;
    font-size: 20px;
    /* margin-bottom: 50px; */
}
.login-link {
    margin-right: 30px; 
}

.wear-lebel {
    text-align: right;
    padding: 10px;
    margin-right: 10px;
    color: blanchedalmond;
    font-size: 20px;
    font-family: sans-serif;

    /* display:flex; */
    /* justify-content: flex-end; */

}


    
